<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
                Add Sport
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Sport</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" [formGroup]="sportsForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Sport Name">Sport Name</label>
                                    </div>
                                    <div class="colo-md-8">
                                        <input type="text" placeholder="Sport Name" Name="Name" formControlName="Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Sport Logo">Sport Logo</label>
                                    </div>
                                    <div class="colo-md-8">
                                        <input type="text" placeholder="Sport Logo" Name="Logo" formControlName="Logo">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal"
                                (click)="onFormSubmit()">Save</button>
                        </div>
                    </div>
                </div>
            </div>


            <table class="table table-striped">
                <thead class="text-white" style="background-color: purple !important;">
                    <tr>
                        <th>Sport Name</th>
                        <th>Sport Logo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr *ngFor="let sport of sports">
                        <td>{{sport.Name}}</td>
                        <td>
                            <div class="card" style="height: 150px !important; background-color: purple !important;">
                                <img class="card-img-top" src="{{sport.Logo}}" alt="Logo Not Available" style="height: 150px !important;">
                                <div class="card-body">
                                    <!-- <h4 class="card-title">Title</h4>
                                    <p class="card-text">Text</p> -->
                                </div>
                            </div>
                            <!-- <img src="{{sport.Logo}}" alt="Logo Not Available"> -->
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                (click)="deleteSport(sport.SportId)">Delete</button>
                            <button type="button" class="btn btn-primary">Edit</button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>