<div class="container">
    <div class="row">
      <div class="col-md-10">
        <table class="table table-striped">
          <thead>
            <tr ngclass="btn-primary">
              <th class="tlb2">Faculty Name</th>
              <th class="tlb2">Actions</th>
              <th class="tlb2">Add Faculty</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let faculty of faculties">
              <td>{{faculty.FacultyName}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>