<div class="container">
    <h2>Manage Courses</h2>
    <table class="table table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <th>Course Name</th>
                <th>Department Name</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let course of courses">
                <td >
                    {{course.CourseName}}
                </td>
                <td>{{course.Department.DepartmentName}}</td>
                <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>