<div class="container">
    <h1>Get Directions</h1>
  
    <div class="form-group">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </div>
    
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="sourceLatitude" [longitude]="sourceLongitude"></agm-marker>
      <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
    </agm-map>
     
    <h5>Address: {{sourceAddress}}</h5>
    <div>Latitude: {{sourceLatitude}}</div>
    <div>Longitude: {{sourceLongitude}}</div>
    
    <button type="button" (click)="getDirection()">Get</button>
    
  </div>